.reveal {
    font-size: 36px;
}

.reveal section img {
    border: none;
}

.reveal .git blockquote {
    width: 90%;
}

.reveal .git > *:not(:first-child) {
    margin-top: 1em;
    margin-bottom: 1em;
}

.nocenter {
    text-align: left;
}

.reveal dd {
    margin-left: 40px;
}

p.problem {
    margin-top: 20px;
}

.reveal img.ghpageslogo {
    background: #333333;
    padding: 20px 20px 10px 20px;
}

.reveal .darkbg {
    background: #333333;
}

.reveal section .addition {
    list-style-type: none;
}

.addition li {
    float: left;
    height: 150px;
    text-align: center;
    line-height: 150px;
}

.addition li > img {
    display: inline-block;
    vertical-align: middle;
}

.addition .operand {
    width: 70px;
    font-size: 1.8em;
    font-weight: 600;
}


/*.reveal ul li {*/
    /*margin-top: .25em;*/
    /*margin-bottom: .75em;*/
/*}*/